/* login.css */

body {
    font-family: "Open Sans", sans-serif;
    background-color: #f0f0f0;
    color: #444;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: #5cb874;
  }
  
  a:hover {
    color: #80c792;
    text-decoration: underline;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 320px;
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }
  
  h3 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    color: #000;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    outline: none;
    border-color: #5cb874;
  }
  
  .button {
    width: 100%;
    padding: 12px;
    background-color: #5cb874;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #80c792;
  }
  
  